node_modules
npm-debug.log

.tmp/*
dist/css/*
dist/fonts/*
dist/img/*
dist/js/*
dist/templates/*

!.tmp/.gitkeep
!dist/css/.gitkeep
!dist/fonts/.gitkeep
!dist/img/.gitkeep
!dist/js/.gitkeep
!dist/templates/.gitkeep

src/bower_components/
