node_modules
npm-debug.log

dist/css/*
dist/fonts/*
dist/img/*
dist/js/*
dist/templates/*
dist/index.html

!dist/css/.gitkeep
!dist/fonts/.gitkeep
!dist/img/.gitkeep
!dist/js/.gitkeep
!dist/templates/.gitkeep
