<div class="signin">
  <div class="logo-container">
    <div>
      <img src="img/logo.png" alt="Your logo">
      <h1>Welcome<br><span>Accounts</span><br><small>resourcebox.cloud</small></h1>
    </div>
  </div>
  <div class="form-container">
    <form>
      <div class="input-container">
        <input type="text" name="account_id" placeholder="ID">
        <input type="password" name="account_secret" placeholder="SECRET">
      </div>
      <div class="button-container">
        <button type="button"><img src="img/arrow.png"></button>
      </div>
    </form>
    <div class="errors">
      {{#each errors}}
        <h2>{{message}}</h2>
      {{/each}}
    </div>
  </div>
</div>
