$dark-primary-color: #00796B;
$primary-color: #009688;
$light-primary-color: #B2DFDB;

$primary-text-color: #212121;
$secondary-text-color: #727272;
$alternative-text-color: #FFFFFF;

$primary-icon-text-color: #FFFFFF;
$secondary-icon-text-color: #B6B6B6;

$button-color: #FFC107;
