.page-brand .ui-content-header {
  background-image: url('./../img/brand.jpg');
}
.ui-content-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -58px;
  padding-top: 68px;
  padding-bottom: 58px;
}
