@import './includes/colors';

.signin {
  overflow: auto;
  display: table;
  width: 100%;
  height: 100%;
  background: $primary-color;
  color: #fff;
  padding: 3em;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-color: $dark-primary-color;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    border-right: solid 120px $primary-color;
  }
  .logo-container, .form-container {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
  }
  .logo-container {
    text-align: center;
    width: 40%;
    position: relative;
    div {
      float: right;
      img {
        max-width: 230px;
        width: 100%;
        border: 3px solid $alternative-text-color;
        border-radius: 50%;
      }
      h1 {
        font-weight: 700;
        line-height: 32px;
        font-size: 34px;
        text-align: center;
        span {
          font-size: 27px;
        }
        small {
          color: $alternative-text-color;
          opacity: .7;
          padding-right: 5px;
          font-size: 16px;
          display: block;
          margin-top: 8px;
        }
      }
    }
  }
  .form-container {
    position: relative;
    form {
      width: 100%;
      margin-bottom: 150px;
      max-width: 400px;
      display: table;
      .input-container, .button-container {
        display: table-cell;
        vertical-align: middle;
      }
      .input-container {
        width: 100%;
        input {
          display: block;
          width: 100%;
          height: 46px;
          padding: 0px 16px;
          font-size: 18px;
          line-height: 1.3333333;
          background: #18af91;
          box-shadow: none;
          color: #fff;
          font-weight: 600;
          border: 1px solid  #18af91;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        input + input {
          margin-top: 16px;
        }
      }
      .button-container {
        width: 100px;
        button {
          height: 110px;
          width: 100px;
          background: $button-color;
          border: $button-color 1px solid transparent;
          cursor: pointer;
          margin-left: 15px;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .signin {
    padding: 15px;
    display: block;
    &:before {
      content: '';
      background-color: $dark-primary-color;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      border-right: none;
    }
    .logo-container, .form-container {
      display: block;
      width: 100%;
    }
    .logo-container {
      div {
        float: none;
        img {
          display: initial;
        }
      }
    }
    .form-container {
      form {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 400px) {
  .signin {
    .form-container {
      form {
        .input-container, .button-container {
          display: block;
          width: 100%;
        }
        .button-container {
          button {
            width: 100%;
            height: 46px;
            margin: 15px 0 0;
            img {
              max-width: 26px;
            }
          }
        }
      }
    }
  }
}
